:root{
    /*colors*/

    --color-titles:rgb(42,42,90);
    --color-content:rgb(21,21,55);
    --background-content:rgb(230,230,255);

    --color-tools:rgb(110,110,180);
    --shadow-tools:0px 0px 10px 1px rgba(10,10, 255,0.9);
    --background-tools:rgb(200,200,200);

    --span-color:rgb(100, 100, 180);

    --color-header:rgb(255,255,255);
    --color-border:rgb(210,210,210);
    --background-body:rgb(242,242,252);
    --background-info:rgb(226, 139, 139);
    --background-header:rgb(51,51,51);

    --border-color:1px solid #ddd;

}